.container{
    position: relative;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
   
}
.projects.h1{
color: aliceblue;
}

.title{
    font-size: 35px;
   color: white;
   margin-left: 7%;
   margin-top: 7%;
}

